#content {
  width: 900px;
  margin: 0 auto;
  text-align: center;
  background-color: #5ca1d7;
  --heading-font: Arial;
}

.white-p {
  color: white;
}

h1 {
  font-family: Arial;
}

p {
  font-family: Helvetica;
  font-weight: bold;
}
